
  .bg-main{
    background: linear-gradient(180deg,#e11d48 10%, #dd2950 35%, #84031f 100%);
  }
  .color{

    color: #f13c63;

  }
  .bg-sec{

    background-color: #e11d48;

  }
  .main{
    background-color: #0f0f10;
  }
  .w-15{
    width: 15%;
  }
  .border-black{
    border-color: #0f0f10;
  }
