<!-- <div class="main">
  <div>
    <div class="row align-items-center" >

  <div class="col-12 text-center"><h1 class="  text-white">Transactions of {{customerName}}</h1></div>


  <div class="col-12"><canvas id="chart">{{chart}}</canvas></div>

</div>
</div>


  </div> -->

  <div class="main min-vh-100 d-flex flex-column justify-content-center align-items-center">


  <div class="col-8 text-center"><h1 class="text-white">{{customerName}}'s transactions</h1></div>
  <div class="col-8"><canvas id="chart">{{chart}}</canvas></div>


  </div>
